.Title {
    display: flex;
    justify-content: center;
}

.white-box {
    background-color: white;
    color: black;
}

.vertical {
    color:black;
    height: 200px;
    position:absolute;
    left: 50%;
}